.portfolioContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #00356b;
}
.headerDiv {
  display: flex;
  justify-content: center;
  padding: 2rem;
  color: white;
}

@media (max-width: 1500px) {
  .portfolioContainer {
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }
}
